@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    background: #344a72;
    color: #fff;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* NavBar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s;
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}


/* Form styling */

#container {
    margin: 30px auto;
    margin-top: 110px;
    max-width: 400px;
    padding: 20px;
}

.form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
}

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
    color: #666;
}

.form-wrap .form-group input {
    /* styling the inputs */
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a2;
    color: #fff;
    cursor: pointer;
}

.form-wrap button:hover {
    background: #37a08e;
}

.form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 10px;
}

footer a {
    color: #49c1a2;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }
    .flex-items {
        flex-direction: column;
    }
    .flex-columns .column,
    .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }
    .team img {
        width: 70%;
    }
}


/*Adam S Asimolowo
CSS code for password toggler and for strength password meter*/

.password_toggler {
    position: relative;
    line-height: 20px;
    width: 20px;
    left: 280px;
    bottom: 28px;
    cursor: pointer;
    text-align: center;
}

.password_toggler i.fa-eye {
    display: none;
}

.password_toggler.active i.fa-eye {
    display: block;
}

.password_toggler.active i.fa-eye-slash {
    display: none;
}

.password_toggler_reg {
    position: relative;
    line-height: 20px;
    width: 20px;
    left: 280px;
    bottom: 28px;
    cursor: pointer;
    text-align: center;
}

.password_toggler_reg i.fa-eye {
    display: none;
}

.password_toggler_reg.active1 i.fa-eye {
    display: block;
}

.password_toggler_reg.active1 i.fa-eye-slash {
    display: none;
}

.password_toggler_2 {
    position: relative;
    line-height: 20px;
    width: 20px;
    left: 280px;
    bottom: 28px;
    cursor: pointer;
    text-align: center;
}

.password_toggler_2 i.fa-eye {
    display: none;
}

.password_toggler_2.active i.fa-eye {
    display: block;
}

.password_toggler_2.active i.fa-eye-slash {
    display: none;
}

.form-group .password_strength {
    text-align: center;
    position: relative;
    background-color: #f2f2f2;
    top: -18px;
    display: none;
    height: auto;
}

.password_strength span:nth-child(1) {
    color: black;
    font-size: 15px;
    z-index: 2;
    font-weight: bold;
    color: yell
}

.password_strength span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    transition: all 300ms ease-in-out;
    background: black;
    opacity: 60%;
}

.strong_password_tip {
    /* We only want this class to display when a user/client has clicked on the password element */
    position: relative;
    bottom: 40px;
    left: 340px;
    height: 0px;
    display: none;
}

.strong_password_tip p {
    font-weight: bold;
    color: #fff;
    font-size: smaller;
}

.validation_email {
    font-weight: bold;
    height: auto;
    font-size: 13.5px;
}

.validation_email .invalid {
    color: red;
}

.validation_email .valid {
    color: green;
}

.confirm_password {
    display: none;
    font-size: 15px;
    font-weight: bold;
}