<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>User Profile</title>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
  </head>
  <body>
        <div class="header">
            <header>
                <ul>
                    <li><a href="#"><i class="fas fa-edit"></i>Edit Your Profile</a></li>
                    <li>
                        <a href="#">Log Out</a></li>
                    <li class="lastchild_password"><a href="#"><i class="fas fa-user "></i>My Account</a></li>

                </ul>
            </header>
        </div>
<body>


  <!-- User Profile -->

    <table>
      <tr valign="top">
          <td><img src="{{ user.profilePicture(128) }}"></td>
          <td><h1>Username: {{ user.username }} </h1></td>
          <td><h1>First Name: {{ user.first_name }} </h1></td>
          <td><h1>Last Name: {{ user.last_name }} </h1></td>
      </tr>
    </table>

</body>
</html>